In [9]:
import numpy as np
import pandas as pd

In [10]:
out_ind = ['T1','T1','T1','T2','T2','T2']
ins_ind = [1,2,3,1,2,3]
ind_her = list(zip(out_ind, ins_ind))

In [11]:
out_ind

['T1', 'T1', 'T1', 'T2', 'T2', 'T2']

In [12]:
ins_ind

[1, 2, 3, 1, 2, 3]

In [13]:
ind_her

[('T1', 1), ('T1', 2), ('T1', 3), ('T2', 1), ('T2', 2), ('T2', 3)]

In [29]:
mul_ind = pd.MultiIndex(levels=[['T1','T2'], [1,2,3]], 
                        codes=[[0,0,0,1,1,1],[0,1,2,0,1,2]])

In [30]:
mul_ind_df = pd.DataFrame(np.random.randn(6,2),mul_ind,['X','Y'])

In [31]:
mul_ind_df

             X         Y
T1 1 -0.878480 -0.174869
   2  0.273920  0.381583
   3 -0.033723  1.243989
T2 1  0.107372  0.316339
   2 -0.225365 -1.234388
   3 -0.321865  0.338809

In [32]:
mul_ind_df.loc['T1']

          X         Y
1 -0.878480 -0.174869
2  0.273920  0.381583
3 -0.033723  1.243989

In [33]:
mul_ind_df.loc['T1'].loc[1]

X   -0.878480
Y   -0.174869
Name: 1, dtype: float64

In [34]:
mul_ind_df.loc['T1'].loc[1]['X']

-0.878479901873659

In [36]:
mul_ind_df.index.names

FrozenList([None, None])

In [38]:
mul_ind_df.index.names = ['Types', 'Numbers']

In [39]:
mul_ind_df

                      X         Y
Types Numbers
T1    1       -0.878480 -0.174869
      2        0.273920  0.381583
      3       -0.033723  1.243989
T2    1        0.107372  0.316339
      2       -0.225365 -1.234388
      3       -0.321865  0.338809

In [40]:
mul_ind_df.loc['T1'].iloc[2]['Y']

1.2439890674304102

In [42]:
mul_ind_df.xs('T2')

                X         Y
Numbers
1        0.107372  0.316339
2       -0.225365 -1.234388
3       -0.321865  0.338809

In [43]:
mul_ind_df

                      X         Y
Types Numbers
T1    1       -0.878480 -0.174869
      2        0.273920  0.381583
      3       -0.033723  1.243989
T2    1        0.107372  0.316339
      2       -0.225365 -1.234388
      3       -0.321865  0.338809

In [47]:
mul_ind_df.xs(2, level='Numbers')

              X         Y
Types
T1     0.273920  0.381583
T2    -0.225365 -1.234388

In [48]:
mul_ind_df.xs(3, level='Numbers')

              X         Y
Types
T1    -0.033723  1.243989
T2    -0.321865  0.338809

In [49]:
import numpy as np
import pandas as pd

In [50]:
mult_ind = pd.MultiIndex(levels=[['A', 'B', 'C'], ['left', 'right']],
                     codes=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [51]:
df = pd.DataFrame(np.random.randn(6, 3), mult_ind, ['X', 'Y', 'Z'])

In [52]:
df

                X         Y         Z
A left  -0.644312  0.181558  1.946061
  right -1.717764 -0.981359  0.909880
B left  -0.054717  0.033605  0.554541
  right  0.489452 -0.152052  1.353862
C left  -0.737595 -2.517056  1.782573
  right -0.680627  0.483032 -1.000560

In [53]:
df.loc['C'].loc['left']['X']

-0.7375952619777519

In [54]:
df.index.names = ['Points', 'Sides']

In [55]:
df

                     X         Y         Z
Points Sides
A      left  -0.644312  0.181558  1.946061
       right -1.717764 -0.981359  0.909880
B      left  -0.054717  0.033605  0.554541
       right  0.489452 -0.152052  1.353862
C      left  -0.737595 -2.517056  1.782573
       right -0.680627  0.483032 -1.000560

In [71]:
df.xs('right', level='Sides')['Y']

Points
A   -0.981359
B   -0.152052
C    0.483032
Name: Y, dtype: float64

In [75]:
df.xs('right', level='Sides')

               X         Y         Z
Points
A      -1.717764 -0.981359  0.909880
B       0.489452 -0.152052  1.353862
C      -0.680627  0.483032 -1.000560