In [1]:
import numpy as np
import pandas as pd

In [2]:
fs_datfr = pd.DataFrame(np.random.randn(4,5), [1,2,3,4], ['yellow', 'black', 'white', 'green', 'blue'])

In [3]:
fs_datfr

     yellow     black     white     green      blue
1 -0.025939  0.523306  0.248903  0.336880  0.702935
2 -0.208004  0.122821 -1.820191  0.159236 -0.090085
3 -0.622817  1.798077 -0.256122 -1.178703  0.915652
4  0.514624  0.488826  0.763531  0.785275  0.563351

In [8]:
fs_datfr['green']

1    0.336880
2    0.159236
3   -1.178703
4    0.785275
Name: green, dtype: float64

In [9]:
type(fs_datfr['green'])

pandas.core.series.Series

In [10]:
type(fs_datfr)

pandas.core.frame.DataFrame

In [11]:
fs_datfr[['green', 'blue']]

      green      blue
1  0.336880  0.702935
2  0.159236 -0.090085
3 -1.178703  0.915652
4  0.785275  0.563351

In [18]:
type(fs_datfr[['green', 'blue']])

pandas.core.frame.DataFrame

In [24]:
fs_datfr ['indigo'] = fs_datfr['green']

In [25]:
fs_datfr

     yellow     black     white     green      blue    indigo
1 -0.025939  0.523306  0.248903  0.336880  0.702935  0.336880
2 -0.208004  0.122821 -1.820191  0.159236 -0.090085  0.159236
3 -0.622817  1.798077 -0.256122 -1.178703  0.915652 -1.178703
4  0.514624  0.488826  0.763531  0.785275  0.563351  0.785275

In [26]:
fs_datfr ['krez'] = fs_datfr['green'] + fs_datfr['blue']

In [27]:
fs_datfr

     yellow     black     white     green      blue    indigo      krez
1 -0.025939  0.523306  0.248903  0.336880  0.702935  0.336880  1.039814
2 -0.208004  0.122821 -1.820191  0.159236 -0.090085  0.159236  0.069151
3 -0.622817  1.798077 -0.256122 -1.178703  0.915652 -1.178703 -0.263052
4  0.514624  0.488826  0.763531  0.785275  0.563351  0.785275  1.348626

In [29]:
fs_datfr.loc[4]

yellow    0.514624
black     0.488826
white     0.763531
green     0.785275
blue      0.563351
indigo    0.785275
krez      1.348626
Name: 4, dtype: float64

In [30]:
fs_datfr.iloc[2]

yellow   -0.622817
black     1.798077
white    -0.256122
green    -1.178703
blue      0.915652
indigo   -1.178703
krez     -0.263052
Name: 3, dtype: float64

In [31]:
fs_datfr

     yellow     black     white     green      blue    indigo      krez
1 -0.025939  0.523306  0.248903  0.336880  0.702935  0.336880  1.039814
2 -0.208004  0.122821 -1.820191  0.159236 -0.090085  0.159236  0.069151
3 -0.622817  1.798077 -0.256122 -1.178703  0.915652 -1.178703 -0.263052
4  0.514624  0.488826  0.763531  0.785275  0.563351  0.785275  1.348626

In [34]:
fs_datfr.loc[4] = fs_datfr.loc[1]

In [35]:
fs_datfr

     yellow     black     white     green      blue    indigo      krez
1 -0.025939  0.523306  0.248903  0.336880  0.702935  0.336880  1.039814
2 -0.208004  0.122821 -1.820191  0.159236 -0.090085  0.159236  0.069151
3 -0.622817  1.798077 -0.256122 -1.178703  0.915652 -1.178703 -0.263052
4 -0.025939  0.523306  0.248903  0.336880  0.702935  0.336880  1.039814

In [36]:
fs_datfr_2 = fs_datfr.copy()

In [37]:
fs_datfr_2

     yellow     black     white     green      blue    indigo      krez
1 -0.025939  0.523306  0.248903  0.336880  0.702935  0.336880  1.039814
2 -0.208004  0.122821 -1.820191  0.159236 -0.090085  0.159236  0.069151
3 -0.622817  1.798077 -0.256122 -1.178703  0.915652 -1.178703 -0.263052
4 -0.025939  0.523306  0.248903  0.336880  0.702935  0.336880  1.039814

In [40]:
fs_datfr.loc[4] = np.random.randn(1,7)

In [41]:
fs_datfr

     yellow     black     white     green      blue    indigo      krez
1 -0.025939  0.523306  0.248903  0.336880  0.702935  0.336880  1.039814
2 -0.208004  0.122821 -1.820191  0.159236 -0.090085  0.159236  0.069151
3 -0.622817  1.798077 -0.256122 -1.178703  0.915652 -1.178703 -0.263052
4 -0.468490 -1.118500  0.449244 -1.154386 -1.294954  1.023201 -0.234861

In [44]:
fs_datfr.loc[[2,4],['white', 'blue']]

      white      blue
2 -1.820191 -0.090085
4  0.449244 -1.294954

In [45]:
print(pd.DataFrame(np.random.randint(1,101,35).reshape(7,5), ['a','b','c','d','e','f','g'], 
                  ['France','Spain', 'Italy','Germany','Great Breaten']))

   France  Spain  Italy  Germany  Great Breaten
a       4      3     54       17             92
b      38     40     13       77             65
c      61     46     33       47             46
d      87     25      9       92             60
e      47     88     11       30             56
f      36     64     38       83             26
g      17    100     64        4             63